force-app/main/default/flows/Business_License_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Fetch_Org_Wide_Email_Address.Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Fetch_Email_Template.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentId</name>
            <value>
                <stringValue></stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_on_Initial_Approval</name>
        <label>Send Email on Initial Approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Fetch_Org_Wide_Email_Address.Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Fetch_Email_Template_of_Initial_Approval.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentId</name>
            <value>
                <stringValue></stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Licenses_Count</name>
        <label>Set Licenses Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ExistingLicenseCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Fetch_Existing_Business_Licenses</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Newly_Created</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Certified_Date_Check</name>
        <label>Certified Date Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Certified_Date_Is_updated</name>
            <conditionLogic>1 AND 2 AND 3 AND ( 4 OR 5 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PeriodStart</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.PeriodStart</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RegulatoryAuthorizationType.RegulatoryAuthCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LDBLicense</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RegulatoryAuthorizationType.RegulatoryAuthCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LDILicense</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Email_Template_of_Initial_Approval</targetReference>
            </connector>
            <label>Certified Date Is updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_License_has_Contact</name>
        <label>Check License has Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_has_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Fetch_Email_Template.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_License_has_Contact_1</name>
        <label>Check License has Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Fetch_Email_Template_of_Initial_Approval.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_on_Initial_Approval</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Newly_Created</name>
        <label>Is Newly Created</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_License_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>License_Sequence_Metadata</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Changed</name>
        <label>Status is Changed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Certified_Date_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Change</defaultConnectorLabel>
        <rules>
            <name>Status_Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Email_Template</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Expired</label>
        </rules>
        <rules>
            <name>Status_Good_Cause_Exception</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Good_Cause_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Email_Template</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Good Cause Exception</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CalculatedStatus</name>
        <dataType>String</dataType>
        <expression>IF({!$Flow.CurrentDateTime} &gt;= {!$Record.PeriodStart} &amp;&amp; {!$Flow.CurrentDate} &lt;= {!$Record.Renewal_From__c}, {!Active_Status_Metadata.Value__c}, IF({!$Flow.CurrentDate} &gt;= {!$Record.Renewal_From__c} &amp;&amp; {!$Flow.CurrentDateTime} &lt;= {!$Record.PeriodEnd}, {!Renewal_Pending_Status_Metadata.Value__c}, IF({!$Flow.CurrentDateTime} &gt; {!$Record.PeriodEnd}, {!Expired_Status_Metadata.Value__c}, TEXT({!$Record.Status}))))</expression>
    </formulas>
    <formulas>
        <name>EmailTemplateName</name>
        <dataType>String</dataType>
        <expression>IF(
    {!Status_Expired},
    LEFT({!$Record.RegulatoryAuthorizationType.RegulatoryAuthCode}, 3) &amp; &quot;_Expiration_Email&quot;,
    IF(
        {!Status_Good_Cause_Exception},
        LEFT({!$Record.RegulatoryAuthorizationType.RegulatoryAuthCode}, 3) &amp; &quot;_Good_Cause_Exception_Email&quot;,
        &quot;&quot;
    )
)</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>LicenseNumberMetadataKey</name>
        <dataType>String</dataType>
        <expression>{!$Record.RegulatoryAuthorizationType.RegulatoryAuthCode} &amp; &apos;Sequence&apos;</expression>
    </formulas>
    <formulas>
        <name>LicenseNumberPrefix</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.RegulatoryAuthorizationType.License_Format__c}, FIND(&apos;0&apos;, {!$Record.RegulatoryAuthorizationType.License_Format__c}) - 1)</expression>
    </formulas>
    <formulas>
        <name>LicenseNumberSequence</name>
        <dataType>String</dataType>
        <expression>IF(OR(ISBLANK( {!LicenseNumberPrefix}), ISBLANK({!LicenseNumberSufix} )), {!$Record.Name}, {!LicenseNumberPrefix} &amp; RIGHT( {!LicenseNumberSufix} &amp; TEXT(IF({!ExistingLicenseCount} == 0, 1, VALUE({!License_Sequence_Metadata.Value__c}) + {!ExistingLicenseCount} + 1)), LEN({!LicenseNumberSufix})))</expression>
    </formulas>
    <formulas>
        <name>LicenseNumberSufix</name>
        <dataType>String</dataType>
        <expression>MID({!$Record.RegulatoryAuthorizationType.License_Format__c}, FIND(&apos;0&apos;, {!$Record.RegulatoryAuthorizationType.License_Format__c}), LEN({!$Record.RegulatoryAuthorizationType.License_Format__c}))</expression>
    </formulas>
    <formulas>
        <name>LicenseStatus</name>
        <dataType>String</dataType>
        <expression>IF({!CalculatedStatus} == {!Expired_Status_Metadata.Value__c} &amp;&amp; {!$Record.Good_Cause_Exception__c} == true, {!Good_Cause_Exempt_Status_Metadata.Value__c}, IF(OR(ISBLANK(TEXT({!$Record.Status})), ISNULL(TEXT({!$Record.Status})), TEXT({!$Record.Status}) == {!Active_Status_Metadata.Value__c}, TEXT({!$Record.Status}) == {!Renewal_Pending_Status_Metadata.Value__c}, TEXT({!$Record.Status}) == {!Expired_Status_Metadata.Value__c}), {!CalculatedStatus}, TEXT({!$Record.Status})))</expression>
    </formulas>
    <formulas>
        <name>UniqueNameOfApprovalTemplate</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.RegulatoryAuthorizationType.RegulatoryAuthCode}, 3) &amp; &quot;_New_Approval_Email&quot;</expression>
    </formulas>
    <interviewLabel>Business License Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Business License Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Active_Status_Metadata</name>
        <label>Active Status Metadata</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Renewal_Pending_Status_Metadata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QualifiedApiName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LicenseStatusActive</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AZSC_Constant__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Expired_Status_Metadata</name>
        <label>Expired Status Metadata</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Good_Cause_Exempt_Status_Metadata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QualifiedApiName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LicenseStatusExpired</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AZSC_Constant__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Email_Template</name>
        <label>Fetch Email Template</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_License_has_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmailTemplateName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Email_Template_of_Initial_Approval</name>
        <label>Fetch Email Template of Initial Approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_License_has_Contact_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UniqueNameOfApprovalTemplate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Existing_Business_Licenses</name>
        <label>Fetch Existing Business Licenses</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Licenses_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RegulatoryAuthorizationTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RegulatoryAuthorizationTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BusinessLicense</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Org_Wide_Email_Address</name>
        <label>Fetch Org Wide Email Address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Status_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DisplayName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Fetch_Org_Wide_Metadata.Value__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Org_Wide_Metadata</name>
        <label>Fetch Org Wide Metadata</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Org_Wide_Email_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OrgWideEmail</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AZSC_Constant__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Good_Cause_Exempt_Status_Metadata</name>
        <label>Good Cause Exempt Status Metadata</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Existing_Business_Licenses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QualifiedApiName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LicenseStateGoodCauseExempt</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AZSC_Constant__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>License_Sequence_Metadata</name>
        <label>License Sequence Metadata</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_License_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LicenseNumberMetadataKey</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AZSC_Constant__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Renewal_Pending_Status_Metadata</name>
        <label>Renewal Pending Status Metadata</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Expired_Status_Metadata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QualifiedApiName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LicenseStatusRenewalPending</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AZSC_Constant__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_License_Information</name>
        <label>Update License Information</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fetch_Org_Wide_Metadata</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>LicenseStatus</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_License_Number</name>
        <label>Update License Number</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_License_Information</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>LicenseNumberSequence</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Active_Status_Metadata</targetReference>
        </connector>
        <object>BusinessLicense</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ExistingLicenseCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
