force-app/main/default/flows/Business_License_Application_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_for_approval</name>
        <label>Send Email for approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Fetch_Community_User</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Fetch_Org_Wide_Email.Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Fetch_Email_Template.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.ApplicantId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_ABS_Program</name>
        <label>Send Email to ABS Program</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>SubmissionEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Fetch_Org_Wide_Email.Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubmissionEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;{!SubmissionEmailBody}&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.ApplicantId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Participant</name>
        <label>Send Email to Participant</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>For_Every_Participant</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>For_Every_Participant.Email_Address__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Fetch_Org_Wide_Email.Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubApplicationSenderSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;{!SubApplicationEmailBody}&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>For_Every_Participant.Person_Account__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Send_Status_Change_Notification</name>
        <label>Send Status Change Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Fetch_AZSC_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Applicant_as_Recipient</name>
        <label>Assign Applicant as Recipient</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Fetch_Community_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_ABS_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Participant_to_Recipient</name>
        <label>Assign Participant to Recipient</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Fetch_Existing_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Every_Participant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Regulatory_Transaction_Fee_Item_Asssignment</name>
        <label>Regulatory Transaction Fee Item Asssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>feeItem.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>feeItem.FeeAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>feeItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>feeItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_2</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>LDBApplication</name>
        <dataType>String</dataType>
        <value>
            <stringValue>LDB_Application</stringValue>
        </value>
    </constants>
    <customErrors>
        <name>Pending_Action_Plans_Error</name>
        <label>Pending Action Plans Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Cannot approve application without action plan/verification checks being completed.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Application_From_Queue</name>
        <label>Application From Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Send_Email_Label</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Application_From_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ABS_Specialist_Queue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ABS_Application</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Action_Plan_Creation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Business_Entity_Exemption_Changed</name>
        <label>Business Entity Exemption Changed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_New_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Business_Entity_Exemption_requested__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Is_Business_Entity_Exemption_requested__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LDBApplication</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Regulatory_Transaction_Fee</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Application_has_Contact</name>
        <label>Check Application has Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Fetch_Community_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Contact</name>
            <conditionLogic>1 AND 2 AND ( (3 AND 4 ) OR ( ( 5 OR 6 ) AND 7) )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Applicant.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Fetch_Email_Template.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LicenseType.RegulatoryAuthCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>LDILicense</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LicenseType.RegulatoryAuthCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>LDBLicense</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LicenseType.RegulatoryAuthCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LDILicense</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LicenseType.RegulatoryAuthCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LDBLicense</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ApplicationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal Licensure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_for_approval</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Existing_User_Exists</name>
        <label>Check Existing User Exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Send_Email_to_Participant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Existing_User_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Existing_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Portal_User</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Existing_User_Exists2</name>
        <label>Check Existing User Exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>For_Every_Participant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Existing_User_Exists2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Existing_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Participant_to_Recipient</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Pending_Action_Plans</name>
        <label>Check Pending Action Plans</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Fetch_OffSet_Metadata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Pending_Action_Plans</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Pending_Action_Plans</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pending_Action_Plans_Error</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Participant_an_Entity</name>
        <label>If Participant an Entity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Fetch_Existing_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Participant_an_Entity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Every_Participant.Person_Account__r.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PersonAccount</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_ABS_Check</name>
        <label>Is ABS Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Status_Change_Check2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_ABS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LicenseType.RegulatoryAuthCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ABSLicense</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Participants</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_Record</name>
        <label>Is New Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Application_From_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_New_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Groups</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Sandbox</name>
        <label>Is Sandbox</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Fetch_PROD_Metadata_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Sandbox</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Organization.IsSandbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Sandbox_Metadata_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>License_Type</name>
        <label>License Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Business_License</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Renewal License</defaultConnectorLabel>
        <rules>
            <name>Initial_License</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApplicationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initial Licensure</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LicensePermitNameId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_Business_License</targetReference>
            </connector>
            <label>Initial License</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Change_Check</name>
        <label>Status Change Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>For_Every_Participant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Waiting_for_Sub_Applications</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status_is_Waiting_for_Sub_Applications</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Existing_User_Exists</targetReference>
            </connector>
            <label>Status Waiting for Sub Applications</label>
        </rules>
        <rules>
            <name>Status_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status_is_Approved</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Existing_User_Exists2</targetReference>
            </connector>
            <label>Status Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Change_Check2</name>
        <label>Status Change Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Waiting_for_Sub_Applications2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status_is_Waiting_for_Sub_Applications</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_ABS_Program</targetReference>
            </connector>
            <label>Status Waiting for Sub Applications</label>
        </rules>
        <rules>
            <name>Status_Approved2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status_is_Approved</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Status_Change_Notification</targetReference>
            </connector>
            <label>Status Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_is_Changed</name>
        <label>Status is Changed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Status Not Changed</defaultConnectorLabel>
        <rules>
            <name>Status_is_Waiting_for_Sub_Applications</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting for Sub Applications</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Organization</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Waiting for Sub Applications</label>
        </rules>
        <rules>
            <name>Status_is_Approved</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LicenseType.RegulatoryAuthCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ABSLicense</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LicenseType.RegulatoryAuthCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRFLicense</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LicenseType.RegulatoryAuthCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LDBLicense</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Pending_Action_Plans</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Approved</label>
        </rules>
        <rules>
            <name>Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application Accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Admin_Tasks_Action_Plan_Creation</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Accepted</label>
        </rules>
        <rules>
            <name>In_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Certification_Specialists_Action_Plan_Creation</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>In Review</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ABSApplicationLink</name>
        <dataType>String</dataType>
        <expression>HYPERLINK({!OrgURL} + &apos;/&apos; + {!$Record.Id}, {!$Record.Name})</expression>
    </formulas>
    <formulas>
        <name>ActionPlanTemplateName</name>
        <dataType>String</dataType>
        <expression>IF( {!Accepted}, {!$Record.LicenseType.Name}&amp;&apos; - &apos;&amp;TEXT({!$Record.ApplicationType})&amp;&apos; - Admin Staff Tasks&apos;, IF( {!In_Review}, {!$Record.LicenseType.Name}&amp;&apos; - &apos;&amp;TEXT({!$Record.ApplicationType})&amp;&apos; - Certification Specialist Tasks&apos;, &apos;&apos;))</expression>
    </formulas>
    <formulas>
        <name>CommunityURL</name>
        <dataType>String</dataType>
        <expression>IF({!Yes_Is_Sandbox}, {!Fetch_Sandbox_Metadata_Type.Value__c}, {!Fetch_PROD_Metadata_Type.Value__c})</expression>
    </formulas>
    <formulas>
        <name>EmailUniqueName</name>
        <dataType>String</dataType>
        <expression>IF(
    ISPICKVAL({!$Record.Status}, &apos;Approved&apos;) &amp;&amp;
    ISPICKVAL({!$Record.ApplicationType}, &apos;Initial Licensure&apos;),
    LEFT($Record.LicenseType.RegulatoryAuthCode, 3) &amp; &apos;_New_Approval_Email&apos;,

    IF(
        ISPICKVAL({!$Record.Status}, &apos;Approved&apos;) &amp;&amp;
        ISPICKVAL({!$Record.ApplicationType}, &apos;Renewal Licensure&apos;),
        LEFT($Record.LicenseType.RegulatoryAuthCode, 3) &amp; &apos;_Renewal_Approval_Email&apos;,

        IF(
            ISPICKVAL({!$Record.Status}, &apos;Denied&apos;),
            LEFT($Record.LicenseType.RegulatoryAuthCode, 3) &amp; &apos;_Denial_Email&apos;,
            &apos;&apos;
        )
    )
)</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>LicenseExpiryDate</name>
        <dataType>DateTime</dataType>
        <expression>IF(OR(TEXT({!$Record.LicenseType.Expiration_Type__c}) == &apos;Static (Even Numbered Years)&apos;, TEXT({!$Record.LicenseType.Expiration_Type__c}) == &apos;Static (Odd Numbered Years)&apos;), {!$Record.LicenseType.Next_Expiration__c},
IF(TEXT({!$Record.LicenseType.Expiration_Type__c}) == &apos;No Expiration&apos;, Null, CASE({!$Record.LicenseType.DurationType}, &apos;Month&apos;, ADDMONTHS(IF({!Initial_License} == true, {!$Flow.CurrentDateTime}, {!$Record.LicensePermitName.PeriodEnd}), VALUE({!$Record.LicenseType.ProcessingDuration})), {!$Flow.CurrentDateTime})))</expression>
    </formulas>
    <formulas>
        <name>LicenseStartDate</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!$Flow.CurrentDate}) &amp; &apos; 00:00:00&apos;) + (VALUE({!Fetch_OffSet_Metadata.Value__c})/24)</expression>
    </formulas>
    <formulas>
        <name>NotificationBody</name>
        <dataType>String</dataType>
        <expression>&apos;You application number &apos; + {!$Record.Name} + &apos; has been updated to &apos; + TEXT({!$Record.Status}) + &apos;.&apos;</expression>
    </formulas>
    <formulas>
        <name>NotificationTitle</name>
        <dataType>String</dataType>
        <expression>&apos;Update on &apos;+{!$Record.LicenseType.Name}+&apos; Application&apos;</expression>
    </formulas>
    <formulas>
        <name>OrgURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND(&apos;/services&apos;, {!$Api.Partner_Server_URL_260}))</expression>
    </formulas>
    <formulas>
        <name>OrgWideEmail</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.LicenseType.RegulatoryAuthCode}, 3) &amp; &apos;OrgWideEmail&apos;</expression>
    </formulas>
    <formulas>
        <name>SubApplicationLink</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(
	{!CommunityURL}, &apos;Click here to launch &apos;+TEXT({!For_Every_Participant.Role__c})+&apos; Sub Application&apos;
)</expression>
    </formulas>
    <formulas>
        <name>SubmissionEmail</name>
        <dataType>String</dataType>
        <expression>IF({!Yes_Is_Sandbox}, {!Fetch_Sandbox_ABS_Email.Value__c}, {!Fetch_PROD_ABS_Email.Value__c})</expression>
    </formulas>
    <formulas>
        <name>UsrAlias</name>
        <dataType>String</dataType>
        <expression>LEFT({!For_Every_Participant.Email_Address__c}, 2) + &apos;&apos; + RIGHT({!For_Every_Participant.Email_Address__c}, 2)</expression>
    </formulas>
    <formulas>
        <name>UsrContactId</name>
        <dataType>String</dataType>
        <expression>IF({!Yes_Participant_an_Entity}, {!Fetch_Contact.Id}, {!For_Every_Participant.Person_Account__r.PersonContactId})</expression>
    </formulas>
    <formulas>
        <name>UsrLastName</name>
        <dataType>String</dataType>
        <expression>IF({!Yes_Participant_an_Entity}, {!Fetch_Contact.LastName},{!For_Every_Participant.Person_Account__r.LastName} )</expression>
    </formulas>
    <formulas>
        <name>UsrName</name>
        <dataType>String</dataType>
        <expression>LEFT({!For_Every_Participant.Email_Address__c}, FIND(&apos;@&apos;, {!For_Every_Participant.Email_Address__c}) - 1) + RIGHT(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(TEXT({!$Flow.CurrentDateTime}), &apos;-&apos;, &apos;&apos;), &apos;:&apos;, &apos;&apos;), &apos;Z&apos;, &apos;&apos;), &apos; &apos;, &apos;&apos;), 6) + &apos;@&apos; + MID({!For_Every_Participant.Email_Address__c}, FIND(&apos;@&apos;, {!For_Every_Participant.Email_Address__c}) + 1, LEN({!For_Every_Participant.Email_Address__c}))+ IF({!Yes_Is_Sandbox}, &apos;.azsc.sandbox&apos;, &apos;.azsc&apos;)</expression>
    </formulas>
    <formulas>
        <name>UsrNickname</name>
        <dataType>String</dataType>
        <expression>LEFT(LEFT({!For_Every_Participant.Email_Address__c}, FIND(&apos;@&apos;, {!For_Every_Participant.Email_Address__c}) - 1) + RIGHT(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(TEXT({!$Flow.CurrentDateTime}), &apos;-&apos;, &apos;&apos;), &apos;:&apos;, &apos;&apos;), &apos;Z&apos;, &apos;&apos;), &apos; &apos;, &apos;&apos;), 6) + &apos;@&apos; + MID({!For_Every_Participant.Email_Address__c}, FIND(&apos;@&apos;, {!For_Every_Participant.Email_Address__c}) + 1, LEN({!For_Every_Participant.Email_Address__c}))+ IF({!Yes_Is_Sandbox}, &apos;.azsc.sandbox&apos;, &apos;.azsc&apos;), 20) + &apos;&apos;+ RIGHT(LEFT({!For_Every_Participant.Email_Address__c}, FIND(&apos;@&apos;, {!For_Every_Participant.Email_Address__c}) - 1) + RIGHT(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(TEXT({!$Flow.CurrentDateTime}), &apos;-&apos;, &apos;&apos;), &apos;:&apos;, &apos;&apos;), &apos;Z&apos;, &apos;&apos;), &apos; &apos;, &apos;&apos;), 6) + &apos;@&apos; + MID({!For_Every_Participant.Email_Address__c}, FIND(&apos;@&apos;, {!For_Every_Participant.Email_Address__c}) + 1, LEN({!For_Every_Participant.Email_Address__c}))+ IF({!Yes_Is_Sandbox}, &apos;.azsc.sandbox&apos;, &apos;.azsc&apos;), 20)</expression>
    </formulas>
    <interviewLabel>Business License Application Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Business License Application Flow</label>
    <loops>
        <name>For_Every_Participant</name>
        <label>For Every Participant</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Fetch_Participants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_Participant_an_Entity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Status_Change_Check2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_2</name>
        <label>Loop 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Regulatory_Transaction_Fee_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Regulatory_Transaction_Fee_Item_Asssignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Regulatory_Transaction_Fee_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Business_License</name>
        <label>Create Business License</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Business_License_Application</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessTypeId</field>
            <value>
                <elementReference>$Record.BusinessTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Type__c</field>
            <value>
                <elementReference>$Record.Applicant_Applied_as__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.ApplicantId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JurisdictionCountry</field>
            <value>
                <stringValue>United States</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JurisdictionState</field>
            <value>
                <stringValue>Arizona</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JurisdictionType</field>
            <value>
                <stringValue>STATE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PeriodEnd</field>
            <value>
                <elementReference>LicenseExpiryDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RegulatoryAuthorizationTypeId</field>
            <value>
                <elementReference>$Record.LicenseTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_License__c</field>
            <value>
                <stringValue>Business</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VerificationStatus</field>
            <value>
                <stringValue>Authorized</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VerifiedDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>BusinessLicense</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Portal_User</name>
        <label>Create Portal User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>For_Every_Participant</targetReference>
        </connector>
        <inputAssignments>
            <field>Alias</field>
            <value>
                <elementReference>UsrAlias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CommunityNickname</field>
            <value>
                <elementReference>UsrNickname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>UsrContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>For_Every_Participant.Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailEncodingKey</field>
            <value>
                <stringValue>ISO-8859-1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>For_Every_Participant.Person_Account__r.PersonContact.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LanguageLocaleKey</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>UsrLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProfileId</field>
            <value>
                <elementReference>Fetch_Portal_Profile.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeZoneSidKey</field>
            <value>
                <stringValue>America/Phoenix</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username</field>
            <value>
                <elementReference>UsrName</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Fetch_AZSC_Notification</name>
        <label>Fetch AZSC Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Applicant_as_Recipient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AZ_Custom_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Community_User</name>
        <label>Fetch Community User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_AZSC_Notification</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ApplicantId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Contact</name>
        <label>Fetch Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Existing_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>For_Every_Participant.Person_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Email_Template</name>
        <label>Fetch Email Template</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Status_is_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmailUniqueName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Existing_User</name>
        <label>Fetch Existing User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Status_Change_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UsrContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Groups</name>
        <label>Fetch Groups</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ABS_Specialist_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_OffSet_Metadata</name>
        <label>Fetch OffSet Metadata</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>License_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TimeZoneOffset</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AZSC_Constant__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Org_Wide_Email</name>
        <label>Fetch Org Wide Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Email_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DisplayName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Send_Email_Label.Value__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Organization</name>
        <label>Fetch Organization</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Sandbox</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Participants</name>
        <label>Fetch Participants</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Every_Participant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business_License_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email_Address__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Statutory Agent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Do_not_Send_Sub_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Pending_Action_Plans</name>
        <label>Fetch Pending Action Plans</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Pending_Action_Plans</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActionPlanState</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ActionPlan</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Portal_Profile</name>
        <label>Fetch Portal Profile</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_ABS_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AZSC Portal User</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_PROD_ABS_Email</name>
        <label>Fetch PROD ABS Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Portal_Profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ABSLiveEmail</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AZSC_Constant__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_PROD_Metadata_Type</name>
        <label>Fetch PROD Metadata Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_PROD_ABS_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CommunityLiveURL</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AZSC_Constant__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Sandbox_ABS_Email</name>
        <label>Fetch Sandbox ABS Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Portal_Profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ABSEmail</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AZSC_Constant__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Sandbox_Metadata_Type</name>
        <label>Fetch Sandbox Metadata Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Sandbox_ABS_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CommunityURL</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AZSC_Constant__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Regulatory_Transaction_Fee</name>
        <label>Get Regulatory Transaction Fee</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Regulatory_Transaction_Fee_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RegulatoryTrxnFee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Regulatory_Transaction_Fee_Items</name>
        <label>Get Regulatory Transaction Fee Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RegulatoryTrxnFeeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Regulatory_Transaction_Fee.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RegulatoryTrxnFeeItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Send_Email_Label</name>
        <label>Send Email Label</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Org_Wide_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrgWideEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AZSC_Constant__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Owner</name>
        <label>Set Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Application_From_Queue</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Fetch_Groups.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Business_License</name>
        <label>Update Business License</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Application_has_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>Good_Cause_Exception__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PeriodEnd</field>
            <value>
                <elementReference>LicenseExpiryDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.LicensePermitName</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Business_License_Application</name>
        <label>Update Business License Application</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Participants</targetReference>
        </connector>
        <inputAssignments>
            <field>LicensePermitNameId</field>
            <value>
                <elementReference>Create_Business_License</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Participants</name>
        <label>Update Participants</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Application_has_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>Business_License__c</field>
            <value>
                <elementReference>Create_Business_License</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Case_Relationships__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Regulatory_Transaction_Fee_Items</name>
        <label>Update Regulatory Transaction Fee Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_New_Record</targetReference>
        </connector>
        <inputReference>feeItems</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Business_Entity_Exemption_Changed</targetReference>
        </connector>
        <object>BusinessLicenseApplication</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Action_Plan_Creation</name>
        <label>Action Plan Creation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Email_Label</targetReference>
        </connector>
        <flowName>Action_Plan_Creation_Sub_Flow</flowName>
        <inputAssignments>
            <name>ActionPlanTemplateName</name>
            <value>
                <elementReference>ActionPlanTemplateName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TargetRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Admin_Tasks_Action_Plan_Creation</name>
        <label>Admin Tasks Action Plan Creation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_ABS_Check</targetReference>
        </connector>
        <flowName>Action_Plan_Creation_Sub_Flow</flowName>
        <inputAssignments>
            <name>ActionPlanTemplateName</name>
            <value>
                <elementReference>ActionPlanTemplateName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TargetRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Certification_Specialists_Action_Plan_Creation</name>
        <label>Certification Specialists Action Plan Creation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_ABS_Check</targetReference>
        </connector>
        <flowName>Action_Plan_Creation_Sub_Flow</flowName>
        <inputAssignments>
            <name>ActionPlanTemplateName</name>
            <value>
                <elementReference>ActionPlanTemplateName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TargetRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>SubApplicationEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!For_Every_Participant.Full_Name_Read_Only__c}&lt;/span&gt;,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You have been identified as a/an &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!For_Every_Participant.Role__c}&lt;/span&gt; for a proposed ABS - &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Account.Name}&lt;/span&gt;. To proceed with your application, please follow these steps:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;&lt;strong&gt;Complete the Arizona ABS application form.&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Gather and attach all required supporting documents.&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Access the application here:&lt;/strong&gt; &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!SubApplicationLink}&lt;/span&gt;.&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;If you have any questions or need assistance, please reach out to &lt;a href=&quot;mailto:absprogram@courts.az.gov&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(12, 102, 228); font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Ubuntu, &amp;quot;Helvetica Neue&amp;quot;, sans-serif;&quot;&gt;absprogram@courts.az.gov&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Important:&lt;/strong&gt; Your application will not be considered complete until all required materials are submitted. Please complete the process as soon as possible.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Sincerely,&lt;/p&gt;&lt;p&gt;Certification and Licensing Division&lt;/p&gt;&lt;p&gt;Arizona Supreme Courts,&lt;/p&gt;&lt;p&gt;1501 W. Washington St.,&lt;/p&gt;&lt;p&gt;Ste 104 Phoenix, AZ 85007&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SubApplicationSenderSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Complete Your Arizona Alternative Business Structures Application Today - {!For_Every_Participant.Role__c}</text>
    </textTemplates>
    <textTemplates>
        <name>SubmissionEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;A new ABS Application was submitted by {!$Record.Account.Name} on {!$Record.CreatedDate}. Please click on the related link to review the details.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Application link: {!ABSApplicationLink}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SubmissionEmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A new ABS Application was submitted</text>
    </textTemplates>
    <variables>
        <name>feeItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RegulatoryTrxnFeeItem</objectType>
    </variables>
    <variables>
        <name>feeItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RegulatoryTrxnFeeItem</objectType>
    </variables>
    <variables>
        <name>RecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
