force-app/main/default/flows/Individual_Application_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_mail_to_Approval</name>
        <label>Send mail to Approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Fetch_Custom_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Fetch_Org_Wide_Email.Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Fetch_Email_Template.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Fetch_Account.PersonContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Send_Status_Change_Notification</name>
        <label>Send Status Change Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Fetch_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Portal_User_As_Recipient</name>
        <label>Add Portal User As Recipient</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Fetch_Community_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Status_Change_Notification</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Pending_Action_Plans_Error</name>
        <label>Pending Action Plans Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Cannot approve application without action plan/verification checks being completed.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_Application_has_Contact</name>
        <label>Check Application has Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Fetch_Custom_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Contact</name>
            <conditionLogic>1 AND 2 AND ( (3 AND 4 ) OR ( ( 5 OR 6 ) AND 7) )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Fetch_Email_Template.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LicenseType.RegulatoryAuthCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>LDILicense</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LicenseType.RegulatoryAuthCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>LDBLicense</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LicenseType.RegulatoryAuthCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LDILicense</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LicenseType.RegulatoryAuthCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LDBLicense</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ApplicationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal Licensure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_mail_to_Approval</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Pending_Action_Plans</name>
        <label>Check Pending Action Plans</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Fetch_OffSet_Metadata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Pending_Action_Plans</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Pending_Action_Plans</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pending_Action_Plans_Error</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_Record</name>
        <label>Is New Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Fetch_Org_Wide_Email_Metadata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_New_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Groups</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>License_Type</name>
        <label>License Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Business_License</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Renewal Licensure</defaultConnectorLabel>
        <rules>
            <name>Initial_License</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApplicationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initial Licensure</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LicensePermitNameId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_Business_License</targetReference>
            </connector>
            <label>Initial License</label>
        </rules>
    </decisions>
    <decisions>
        <name>Portal_User_Exists</name>
        <label>Portal User Exits</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Portal_User_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Community_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Portal_User_As_Recipient</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_is_Changed</name>
        <label>Status is Changed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Pending_Action_Plans</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Approved</label>
        </rules>
        <rules>
            <name>Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application Accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Admin_Staff_Action_Plan_Creation</targetReference>
            </connector>
            <label>Accepted</label>
        </rules>
        <rules>
            <name>In_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Certification_Specialist_Action_Plan_Creation</targetReference>
            </connector>
            <label>In Review</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ActionPlanTemplateName</name>
        <dataType>String</dataType>
        <expression>IF( {!Accepted}, {!$Record.LicenseType.Name}&amp;&apos; &apos;&amp;TEXT({!$Record.ApplicationType})&amp;&apos; Admin Staff Tasks&apos;, IF( {!In_Review}, {!$Record.LicenseType.RegulatoryAuthCode}&amp;&apos; &apos;&amp;TEXT({!$Record.ApplicationType})&amp;&apos; Certification Specialist Tasks&apos;, &apos;&apos;))</expression>
    </formulas>
    <formulas>
        <name>EmailTemplateAPIName</name>
        <dataType>String</dataType>
        <expression>IF(
    ISPICKVAL({!$Record.Status}, &apos;Approved&apos;) &amp;&amp;
    ISPICKVAL({!$Record.ApplicationType}, &apos;Initial Licensure&apos;),
    LEFT($Record.LicenseType.RegulatoryAuthCode, 3) &amp; &apos;_New_Approval_Email&apos;,

    IF(
        ISPICKVAL({!$Record.Status}, &apos;Approved&apos;) &amp;&amp;
        ISPICKVAL({!$Record.ApplicationType}, &apos;Renewal Licensure&apos;),
        LEFT($Record.LicenseType.RegulatoryAuthCode, 3) &amp; &apos;_Renewal_Approval_Email&apos;,

        IF(
            ISPICKVAL({!$Record.Status}, &apos;Denied&apos;),
            LEFT($Record.LicenseType.RegulatoryAuthCode, 3) &amp; &apos;_Denial_Email&apos;,
            &apos;&apos;
        )
    )
)</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>LicenseExpiryDate</name>
        <dataType>DateTime</dataType>
        <expression>IF(OR(TEXT({!$Record.LicenseType.Expiration_Type__c}) == &apos;Static (Even Numbered Years)&apos;, TEXT({!$Record.LicenseType.Expiration_Type__c}) == &apos;Static (Odd Numbered Years)&apos;), {!$Record.LicenseType.Next_Expiration__c},
IF(TEXT({!$Record.LicenseType.Expiration_Type__c}) == &apos;No Expiration&apos;, Null, CASE({!$Record.LicenseType.DurationType}, &apos;Month&apos;, ADDMONTHS(IF({!Initial_License} == true, {!$Flow.CurrentDateTime}, {!$Record.LicensePermitName.PeriodEnd}), VALUE({!$Record.LicenseType.ProcessingDuration})), {!$Flow.CurrentDateTime})))</expression>
    </formulas>
    <formulas>
        <name>LicenseStartDate</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!$Flow.CurrentDate}) &amp; &apos; 00:00:00&apos;) + (VALUE({!Fetch_OffSet_Metadata.Value__c})/24)</expression>
    </formulas>
    <formulas>
        <name>NotificationBody</name>
        <dataType>String</dataType>
        <expression>&apos;You application number &apos; + {!$Record.Name} + &apos; has been updated to &apos; + TEXT({!$Record.Status}) + &apos;.&apos;</expression>
    </formulas>
    <formulas>
        <name>NotificationTitle</name>
        <dataType>String</dataType>
        <expression>&apos;Update on &apos;+{!$Record.LicenseType.Name}+&apos; Application&apos;</expression>
    </formulas>
    <formulas>
        <name>OrgWideEmail</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.LicenseType.RegulatoryAuthCode}, 3) &amp; &apos;OrgWideEmail&apos;</expression>
    </formulas>
    <interviewLabel>Individual Application Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Individual Application Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Business_License</name>
        <label>Create Business License</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Individual_Application</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessTypeId</field>
            <value>
                <elementReference>$Record.BusinessTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Account.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JurisdictionCountry</field>
            <value>
                <stringValue>United States</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JurisdictionState</field>
            <value>
                <stringValue>Arizona</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JurisdictionType</field>
            <value>
                <stringValue>STATE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PeriodEnd</field>
            <value>
                <elementReference>LicenseExpiryDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RegulatoryAuthorizationTypeId</field>
            <value>
                <elementReference>$Record.LicenseTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_License__c</field>
            <value>
                <stringValue>Individual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VerificationStatus</field>
            <value>
                <stringValue>Authorized</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VerifiedDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>BusinessLicense</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Fetch_Account</name>
        <label>Fetch Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Status_is_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Community_User</name>
        <label>Fetch Community User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Portal_User_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Custom_Notification</name>
        <label>Fetch Custom Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Community_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AZ_Custom_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Email_Template</name>
        <label>Fetch Email Template</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmailTemplateAPIName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Groups</name>
        <label>Fetch Groups</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ABS_Specialist_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_OffSet_Metadata</name>
        <label>Fetch OffSet Metadata</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>License_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TimeZoneOffset</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AZSC_Constant__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Org_Wide_Email</name>
        <label>Fetch Org Wide Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Email_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DisplayName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Fetch_Org_Wide_Email_Metadata.Value__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Org_Wide_Email_Metadata</name>
        <label>Fetch Org Wide Email Metadata</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Org_Wide_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrgWideEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AZSC_Constant__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Pending_Action_Plans</name>
        <label>Fetch Pending Action Plans</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Pending_Action_Plans</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActionPlanState</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ActionPlan</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Owner</name>
        <label>Set Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fetch_Org_Wide_Email_Metadata</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Fetch_Groups.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Business_License</name>
        <label>Update Business License</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Application_has_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>Good_Cause_Exception__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PeriodEnd</field>
            <value>
                <elementReference>LicenseExpiryDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.LicensePermitName</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Individual_Application</name>
        <label>Update Individual Application</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Application_has_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>LicensePermitNameId</field>
            <value>
                <elementReference>Create_Business_License.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_New_Record</targetReference>
        </connector>
        <object>IndividualApplication</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Admin_Staff_Action_Plan_Creation</name>
        <label>Admin Staff Action Plan Creation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Action_Plan_Creation_Sub_Flow</flowName>
        <inputAssignments>
            <name>ActionPlanTemplateName</name>
            <value>
                <elementReference>ActionPlanTemplateName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TargetRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Certification_Specialist_Action_Plan_Creation</name>
        <label>Certification Specialist Action Plan Creation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Action_Plan_Creation_Sub_Flow</flowName>
        <inputAssignments>
            <name>ActionPlanTemplateName</name>
            <value>
                <elementReference>ActionPlanTemplateName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TargetRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>RecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
